<!doctype html>
<html lang="en">

<head>
  <title>Enhanced_Method_for_Improved_CCTV_Camera_Placement</title>

  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/leaflet.polylinemeasure@3.0.0/Leaflet.PolylineMeasure.min.js"></script>
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/leaflet.polylinemeasure@3.0.0/Leaflet.PolylineMeasure.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chroma-js@latest/chroma.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"
    integrity="sha512-cUoWMYmv4H9TGP4hbm1mIjYo90WzIQFo/5jj+P5tQcDTf+iVR59RyIj/a9fRsBxzxt5Dnv/Ex7MzRIxcDwaOLw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>

  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="loading-overlay">
    <img src="https://cdn.pixabay.com/animation/2025/04/28/17/09/17-09-41-260_256.gif" alt="Loading..." />
  </div>
  <div class="container">
    <div class="map">
      <div id="map"></div>
    </div>
    <div class="mainsettings">


      <button id="sendToClipboardBtn" disabled>Copy coordinates</button>

      <h3>Settings</h3>
      <label for="center">Cluster center</label>
      <input type="text" value="55.5636, 12.9746" placeholder="55.5636, 12.9746" id="center">
      <label for="distance">Distance</label>
      <input type="number" value="100" placeholder="100" id="distance">
      <label for="distance">Grid density</label>
      <input type="number" value="5" placeholder="5" id="gridDensity">
      <label for="simulations">Show position # (1 is best)</label>
      <input type="number" value="1" placeholder="1" id="simulations" min="1" disabled>
      <button id="animate" hidden disabled="true">Animate</button>
      <button id="getBest" disabled="true">Show position</button>

      <!-- <div class="checkbox-container">
        <input type="checkbox" id="random-walk">
        <label for="random-walk">Use random walk</label>
      </div> -->

      <button id="toggleSettings" class="toggle-btn">
        Advanced settings <span class="arrow">▾</span>
      </button>

      <div id="settings" class="settings hidden">
        <!-- <h4>Choose years</h4> -->
        <select id="year">
          <option value="all" selected>Choose year (All crimes default)</option>
          <!-- <option value="all" selected>All years</option> -->
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
        </select>

        <!-- <h4>Choose method</h4> -->
        <select id="walkmode">
          <option value="bruteforce" selected>Choose method (Bruteforce default)</option>
          <!-- <option value="bruteforce">Bruteforce</option> -->
          <option value="random">Hillclimb</option>
          <option value="dfs">Depth First Search</option>
          <option value="building">Building walk</option>
        </select>

        <div class="max-steps" id="max-steps-div">
          <label for="max-steps">Max steps</label>
          <input type="number" value="10" placeholder="10" id="max-steps">
          <label for="startingPos">Starting positions</label>
          <input type="number" value="" placeholder="Leave blank for 1% of grid points" min="1" id="startingPos">
        </div>

        <div class="building-steps" id="building-steps">
          <label for="building-steps">Step distance (m)</label>
          <input type="number" value="5" placeholder="5" min="1" id="building-steps-value">
        </div>

        <div>
          <!-- <h4>Set distance weight</h4> -->
          <label for="distanceWeight">Distance weight</label>
          <input type="range" id="distanceWeight" min="0" max="1" step="0.1" value="0.2" oninput="this.nextElementSibling.value = this.value"/>
          <output>0.2</output>
        </div>
      </div>

      <button id="loadBtn">Run analysis</button>
      <a href="/logout">Logout</a>
    </div>
  </div>
  <script type="module" src="main.js"></script>
</body>

</html>
