<!doctype html>
<html lang="en">

<head>
  <title>AI_Enhanced_Method_for_Improved_CCTV_Camera_Placement</title>

  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/leaflet.polylinemeasure@3.0.0/Leaflet.PolylineMeasure.min.js"></script>
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/leaflet.polylinemeasure@3.0.0/Leaflet.PolylineMeasure.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chroma-js@latest/chroma.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"
    integrity="sha512-cUoWMYmv4H9TGP4hbm1mIjYo90WzIQFo/5jj+P5tQcDTf+iVR59RyIj/a9fRsBxzxt5Dnv/Ex7MzRIxcDwaOLw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>

  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="loading-overlay">
    <img src="https://cdn.pixabay.com/animation/2025/04/28/17/09/17-09-41-260_256.gif" alt="Loading..." />
  </div>
  <div class="container">
    <div class="map">
      <div id="map"></div>
    </div>
    <div class="settings">
      <span><code>Available cpu cores: <%= cpus %></code></span>
      <h3>Settings</h3>
      <label for="center">Cluster center</label>
      <!-- <input type="text" value="55.56213319182642, 12.979257702827455" placeholder="55.5636, 12.9746" id="center"> -->
      <!-- <input type="text" value="55.56340730157441, 12.975207567214968" placeholder="55.5636, 12.9746" id="center"> -->
      <input type="text" value="55.5636, 12.9746" placeholder="55.5636, 12.9746" id="center">
      <!-- <input type="text" value="55.56329202667833, 12.981516122817995" placeholder="55.5636, 12.9746" id="center"> -->
      <label for="distance">Distance</label>
      <input type="number" value="100" placeholder="100" id="distance">
      <label for="distance">Grid density</label>
      <input type="number" value="5" placeholder="5" id="gridDensity">
      <label for="simulations">Show simulation # (1 is best)</label>
      <input type="number" value="1" placeholder="1" id="simulations" min="1" disabled>
      <button id="animate" disabled="true">Animate</button>
      <button id="getBest" disabled="true">Show the best</button>

      <div class="checkbox-container">
        <input type="checkbox" id="random-walk">
        <label for="random-walk">Use random walk</label>
      </div>

      <div class="max-steps" id="max-steps-div">
        <label for="max-steps">Max steps</label>
        <input type="number" value="10" placeholder="10" id="max-steps">
        <label for="startingPos">Starting positions</label>
        <input type="number" value="10" placeholder="20" id="startingPos">
      </div>

      <h4>Set norm for score</h4>
      <label class="radio-container">
        <input type="radio" name="useN" value="1" checked>
        Use all crimes in dataset
      </label>

      <label class="radio-container">
        <input type="radio" name="useN" value="2">
        Use crimes in Distance*2 radius
      </label>
      
      <div>
        <h4>Set distance weight</h4>
        <label for="distanceWeight">Distance weight</label>
        <input type="range" id="distanceWeight" min="0" max="1" step="0.1" value="0.2" oninput="this.nextElementSibling.value = this.value"/>
        <output>0.2</output>
      </div>
      <!-- <label for="prescoreWeight">Score weight:</label> <input type="number" value="0.6" placeholder="0.6" id="prescoreWeight" step="0.1" min="0">
      Crimecount weight: <input type="number" value="1" placeholder="1" id="crimecountWeight" step="0.1" min="0">
      Distance weight: <input type="number" value="0.3" placeholder="0.3" id="distanceWeight" step="0.1" min="0"> -->

      <button id="loadAiBtn">Load data</button>
      <!-- </form> -->

      <!-- <div class="form-popup" id="myForm">
        <form id="theForm" class="form-container">
          <h1>Add data</h1>

          <label for="nrofcams"><b>Nr of cams</b></label>
          <input type="tel" placeholder="How many cameras?" id="nrofcams" required>

          <label for="distance"><b>Distance (m)</b></label>
          <input type="tel" placeholder="Distance (m)" id="distance" required>

          <label for="overlap"><b>Max overlap (%)</b></label>
          <input type="tel" placeholder="0 (%)" id="overlap" value="0">

          <button id="okButton" type="button" class="btn ok">Ok</button>
          <button id="cancelButton" type="button" class="btn cancel">Close</button>
        </form>
      </div> -->
    </div>
  </div>
  <script type="module" src="main.js"></script>
</body>

</html>
